body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(2, 71, 2);
    text-align: center;
    color: white;
    font-weight: bold;

}

h1 {
    color: goldenrod;
}

#message-el {
   font-style: italic;
}

button {
    color:#016f32;
    width: 150px;
    background: goldenrod;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
}